<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header.ejs') %>
</head>
<body>
    <main class="flex">
        <%- include('./navbar.ejs') %>
        <div class="d-flex flex-column flex-grow-1 p-3 account-summary" id="root">
                <div class="card bg-dark my-card text-white mb-3">
                    <h1 class="display-4">Home</h1>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                      <div id="my-chart-0">

                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card my-chart-card">
                        <div class="card-body">

                        </div>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                      <div class="card my-chart-card">
                        <div class="card-body">

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card my-chart-card">
                        <div class="card-body">

                        </div>
                      </div>
                    </div>
                </div>


        </div>
    </main> 
</body>
<script type="text/javascript" src="/js/homeCharts.js"></script>
</html>