<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header.ejs') %>
</head>
<body>
    <main class="flex">
        <%- include('./navbar.ejs') %>
        <div class="d-flex flex-column flex-grow-1 p-3 account-summary" id="root"></div>
    </main> 
</body>

</html>