<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">CashAPI</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
        <a href="./" class="nav-link <%= page == 'home' ? "active":'text-white' %>" aria-current="page">
            <i class="bi bi-bank"></i>  Home
        </a>
        </li>
        <hr>
        <div id="navbar-account"></div>
        <hr>
        <li>
        <a href="./import" class="nav-link <%= page == 'import' ? "active":'text-white' %>">
            <i class="bi bi-cloud-arrow-up"></i>  Importa
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            <i class="bi bi-sliders"></i>  Impostazioni
        </a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="/js/accountNavigation.js"></script>
<div class="b-example-divider"></div>