
.moneyOut {
    color:red
}

.moneyIn {
    color:green;
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.account-summary {
    padding-top:18px;
    overflow-y: auto;
}

.my-card {
    padding:18px;
    border-radius: 0px !important;
}

.my-search-input {
    border-width: 0px !important;
    border-radius:0px !important;
}



.account-detail-name {
    width:200px;
    margin-bottom: 0px;
    padding-left:18px;
    padding-top:5px;
}

.my-form-row {
    display: flex;
    width:50%;
    margin-bottom:5px;
}

.my-form-row > input {
    margin-right:5px;
}

.my-form-row > .react-datepicker-wrapper {
    margin-right:5px !important;
    margin-left:5px !important;
}

.my-form-row > button {
    margin-right:5px;
    width:20%;
    border-width: 0px !important;
    border-radius: 0px !important;
}

.text-white.my-new-account {
    background-color:#198754 !important;
}

.navbar-form-control {
    margin-top:5px;
}

.import-section {
    margin-top:18px;
}

.main-content {
    overflow: auto;
}

.import-section form {
    max-width: 50vw;
    margin-bottom: 18px;
}

.import-section form > input,.import-section  form > select {
    margin-bottom: 5px;
}

.my-float-btn {
    position: fixed;
    top: 90vh;
    width: 10vw;
    height: 6vh;
    font-size: larger !important;
    font-weight: bolder !important;
    left: 50vw;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}